# Keep packages out of version control
node_modules
# Keep environment variables out of version control
.env
# Keep images out of version control
uploads/avatars/*
uploads/zonaJuegos/*
!uploads/default/

#Build
api-build.js
api-build.js.*